html {
    background-color: #edc4b3;
}

body {
    max-width: 10000px; /* Largeur maximale de la page */
    margin: 0 auto; /* Centre la page horizontalement */
}

h1 {
    color: #AB4967;
    font-size: 48px;
    border: 3px solid saddlebrown;
    box-shadow: 5px 5px 10px;
}

#liste {
    color: #9a031e;
}

p {
    font-size: 1.5rem;
}

#compétences, #formation {
    font-size: 25px;
}

header {
    padding: 5px;
}

footer {
    margin: 10px;
}

.center, .centrer {
    text-align: center;;

}

.centrer {
    background-image: url(https://i.pinimg.com/736x/71/f0/4f/71f04f5d071de191b067a54e8e4993bc.jpg);
}
.police {
    font-family: "Roboto Mono", serif;
}

a {
    color: darkviolet; /* Couleur de base du texte */
    text-decoration: none; /* Supprime le soulignement par défaut */
}

a:hover {
    color: #AB4967; /* Nouvelle couleur de texte au survol */
}
